<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infocrypt.infocrypt" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.infocrypt.infocrypt.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.infocrypt.infocrypt.StartNewCrypt"
            android:label="@string/title_activity_start_new_crypt" >
        </activity>
        <activity
            android:name="com.example.infocrypt.infocrypt.PrepFile"
            android:label="@string/title_activity_prep_file" >
        </activity>
        <activity
            android:name="com.example.infocrypt.infocrypt.OpeningFile"
            android:label="@string/title_activity_opening_file" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

</manifest>
